name: Build Without Cache

on:
  workflow_dispatch:
    # can maybe specify PR branch ref here?
    # https://docs.github.com/en/actions/reference/events-that-trigger-workflows#example-workflow-configuration

jobs:
  build-and-test:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - uses: ./.github/actions/buildbook
      with:
        jb-cache: false
        publish-to-gh: false
        jb-save: true
